body{
    font-family: 'Times New Roman', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 300vh; /*Declares height of page*/
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.body {
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.footer {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: beige;
    flex: 0;
    padding: 20px;
}

.mid {
    display: flex;
    flex: 5;
    background-color: aqua;
    justify-content: center;
}

.container{
    flex: 1; /*I need to place this here so that i can measure box correctly*/
}

/* Experiment */
/* html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: green;
}
.container {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    background-color: pink;
}
h1 {
    margin: 0;
    padding: 0;
} */