body{
    font-family: 'Times New Roman', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 185vh; /*Declares height of page*/
    display: flex;
    flex-direction: column;
}
button{
    /* display: flex;
    justify-content: flex-start; */
    background-color: #3882F6;
    border-radius: 0;
    height: 30px;
    width: 80px;
    border-radius: 10px;
}
img{
    height: auto;
    width: 450px;
}
.img1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    height: 190px;
    width: 340px;
}
p{
    margin: 0px;
   /* padding: 15px 344px 23px 0px;*/
}

.header {
    display: flex;
    padding: 20px;
    background-color: bisque; 
}
.head{
    display: flex;
    flex: 1;
    justify-content: center;
}
.links{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin: 0;
}

.body {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    flex: 0;
    padding: 20px;
}

.container1{
    display: flex;
    justify-content: flex-end;
    flex: 1; /*I need to place this here so that i can measure box correctly*/
    padding-right: 100px;
}

.container2{
    display: flex;
    align-items: center;
    flex: 1; /*I need to place this here so that i can measure box correctly*/
    /* margin: -130px 0px -100px 110px; */
    padding: 90px;
    text-align: left;
    justify-content: center;
}
.box1{
    display: flex;
    /* flex: 1; */
    align-items: flex-start;
    /* padding: 10px 0px 0px 91px; */
    flex-flow: column;
}
.exmp{
    align-items: center; /* put this in here so that I wouldn't have to make another box class */
}

.container3{
    display: flex;
    flex-direction: column;
    flex: 1; /*I need to place this here so that i can measure box correctly*/
    background-color: white;
}
.box2{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: -45px;
}
.box3 {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}
.square{
    display: flex;
    border: 3px solid blue;
    height: 100px;
    width: 100px;
    margin: -20px 18px -91px;
    border-radius: 10px;
    /* flex-wrap: wrap; */
}

.text{
    align-self: flex-end;
    height: 60px;
    width: 94px;
    margin: 0px 18px -75px;
}

.container4{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}
.box4{
     font-style: italic;
     font-size: 17px;
     margin: -71px;
}
.box5{
    display: flex;
    flex: 0;
    justify-content: end;
    font-weight: bold;
    font-style: normal;
}

.container5{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    background-color: white;
}
.container6{  
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    width: 178vh;
    background-color: #3882F6;
    border-radius: 10px;
}


/* Styles for font */

.bold {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.bold2{
    font-size: 40px;
    font-weight: bold;
    color: black;
}
.bold3{
    font-size: 18px;
    color: white;
}

.container7{
    display: flex;
     justify-content: center;
     padding: 0px 0 5px;

}
.box6{
    display: flex;
    flex: 1;
    justify-content: center;
}

/* Experiment */
/* html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: green;
}
#container {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    background-color: pink;
}
h1 {
    margin: 0;
    padding: 0;
} */